/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.textfield {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.textfield:focused {
    -fx-background-color: cyan , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.connect{
	  -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 40;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #25aae1 0%, #4481eb 100%),
        #04befe,
        #3f86ed,
        radial-gradient(center 50% 50%, radius 100%, #04befe, #3f86ed);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.connect:hover{
	  -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #25aae1 0%, #4481eb 100%),
        #04befe,
        #3f86ed,
        radial-gradient(center 50% 50%, radius 100%,  #04befe, #12C2E9);
}
.connect:pressed{
	 -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;	
}
.send{
	-fx-background-radius:20;
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%,  #7d22ff, #9144ff);
}
.send:hover{
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%,  #8733ff, #9b55ff);
}
.send:pressed{
	 -fx-padding: 6 11 9 11;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;	
}
.sendf{
	-fx-background-radius:20;
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%,  #7d22ff, #9144ff);
}
.sendf:hover{
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%,  #8733ff, #9b55ff);
}
.sendf:pressed{
	 -fx-padding: 3 8 6 8;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;	
}